 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
 

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  }
  


.colored-letter {
    color: var(--primary-orange);
    text-shadow: 2px 0px 2px #000000; 
    transition: 0.5s !important;
    font-family: 'Roboto', sans-serif;
  }
  
  .colored-letter:hover {
    color: var(--hover-cinze);
    border-bottom: 0.1rem solid var(--primary-orange);
    
  }