.ButtonProps {
    background-color: var(--button-color) !important;
    color: var(--text-color) !important;
}

.ButtonProps:hover {
    background-color: var(--button-color-hover) !important;
    color: var(--text-color-hover) !important;
}
