.ButtonProps {
    background-color: var(--button-color) !important;
    color: var(--text-color) !important;
    padding: 10px 20px !important;
    border-radius: 6px !important;
    width: 5.5rem !important;
    height: 2.2rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ButtonProps:hover {
    background-color: var(--button-color-hover) !important;
    color: var(--text-color-hover) !important;
}

@media screen and (max-width: 768px) {
    .ButtonProps {
        padding: 8px 12px !important; 
    }
}
