@import url(./root.css);

* {
  box-sizing: border-box;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--button-color-hover) var(--background);
}

*::-webkit-scrollbar {
  width: 6px;
}


*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--button-color-hover);
  border-radius: 20px;
  border: 1px solid var(--background);
}


html,
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  
}

#root {
  background: linear-gradient(45deg, #FFA500, #ff7300 , #ff4d00);
  background-size: 400% 400%;
  animation: gradientAnimation 20s infinite;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 768px) {
  *::-webkit-scrollbar {
    width: 3px;
  }
}