.header {
  padding: 1rem;
  background-color: var(--background-modal);
  color: var(--text-color-dark);
  /* border-bottom: 0.4rem solid var(--primary-orange); */
}

/* .header:hover {
  border-bottom: var(--hover-cinze) solid 0.4rem;
} */

.logo {
  font-size: 1.5rem;
  font-weight: 900;
}


.colored-letter {
  color: var(--primary-orange);
  text-shadow: 2px 0px 2px #000000; 
  transition: 0.5s !important;
}

.colored-letter:hover {
  color: var(--hover-cinze);
  border-bottom: 0.1rem solid var(--primary-orange);
}

.search {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .search {
    margin-top: 1rem;
  }
}
